@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
:root{
    --sky: #2178eb;
    --lightsky: #8cc5fa;
    --violetblack: #55637a;
    --white: #fff;
    --dirtywhite: #cecaca;
    --skyshadow: #a6b5f8;
    --lightbshadow: rgba(0, 0, 0, 0.4);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Varela Round', sans-serif;
    background: linear-gradient(var(--sky) 0%, var(--lightsky) 100%);
}
.container{
    width: 375px;
    position: relative;
    background: var(--white);
    padding: 2rem 2rem;
    border-radius: 1rem;
    box-shadow: 0rem 1rem 1.5rem var(--lightbshadow);
}
.container i{
    cursor: pointer;
}
.top-bar, 
.progress-container .timer,
.controls, 
.playlist .header,
.playlist li{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.top-bar i{
    font-size: 2rem;
    color: var(--sky);
    user-select: none;
}
.top-bar span{
    font-size: 1.5rem;
    text-shadow: 1px 0 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: var(--lightbshadow);
}
.img-container{
    height: 300px;
    width: 100%;
    overflow: hidden;
    margin-top: 1.3rem;
    border-radius: 0.75rem;
    box-shadow: 0rem 0.8rem 1.2rem var(--lightbshadow);
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.song-details{
    text-align: center;
    margin: 2rem;
    color: var(--violetblack);
}
.song-details .name{
    font-size: 1.7rem;
    text-shadow: 1px 0 0;
}
.song-details .artist{
    opacity: 0.9;
    margin-top: 0.4rem;
}
.progress-container{
    height: 0.4rem;
    width: 100%;
    background: var(--dirtywhite);
    border-radius: 3.3rem;
    cursor: pointer;
}
.progress-container .progress-bar{
    position: relative;
    height: inherit;
    width: 50%;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--sky) 0%, var(--lightsky) 100%);
}
.progress-bar::before{
    content: "";
    position: absolute;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: inherit;
    background: var(--violetblack);
    top: 50%;
    right: 0.1rem;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.2s ease;
}
.progress-container:hover .progress-bar::before{
    opacity: 1;
}
.timer span{
    color: var(--violetblack);
    user-select: none;
    margin-top: 0.4rem;
}
.controls{
    margin: 3rem 0 1rem 0;
}
.controls i{
    font-size: 1.8rem;
    user-select: none;
    background: linear-gradient(90deg, var(--sky) 0%, var(--lightsky) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.controls i:nth-child(2),
.controls i:nth-child(4){
    font-size: 3rem;
}
.controls .play-pause{
    height: 3.7rem;
    width: 3.7rem;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--white) 0%, var(--dirtywhite) 100%);
    box-shadow: 0px 0px 5px 0px var(--sky);
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-pause::before{
    content: "";
    position: absolute;
    height: 3.3rem;
    width: 3.3rem;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--sky) 0%, var(--lightsky) 100%);
}
.play-pause i{
    height: 3.3rem;
    width: 3.3rem;
    line-height: 3.3rem;
    text-align: center;
    position: relative;
    border-radius: inherit;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.playlist{
    position: absolute;
    left: 0;
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    width: 375px;
    padding: 1rem 2rem;
    background: var(--white);
    border-radius: 0.75rem;
    box-shadow: 0rem -0.2rem 1.2rem var(--lightbshadow);
    transition: all 0.15s ease-in-out;
}
.playlist.show{
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}
.playlist .header .row{
    display: flex;
    align-items: center;
    color: var(--violetblack);
}
.header .row span{
    margin-left: 0.7rem;
}
.header #close{
    color: var(--violetblack);
}
.playlist ul{
    margin: 0.6rem 0;
    font-family: 'Varela Round', sans-serif;
    max-height: 11.4rem;
    overflow-y: auto;
    scrollbar-width: none;
}
.playlist ul::-webkit-scrollbar{
    display: none;
}
.playlist ul li{
    cursor: pointer;
    list-style: none;
    padding-bottom: 0.6rem;
    margin-bottom: 0.3rem;
    border-bottom: 1px solid var(--dirtywhite);
}
.playlist ul li:last-child{
    border-bottom: 0rem;
}
/* .playlist ul li .row span{
    
} */
ul li .row p{
    /* opacity: 0.6; */
    color: var(--violetblack);
}